* {
	box-sizing: border-box;
}

body, html {
	/* with a helping hand from css-gradient.com */
	background: #350303;
	background: radial-gradient(at center, #350303, #010101);
	height: 100%;
	margin: 0;
	font-family: 'Rajdhani', sans-serif;
}

.makeGolden {
	color: #f5c45b;
}

.makeWhite {
	color: white;
}

.bg {	
	background-image: url("../img/background_resize.jpg");
	height: 100%;
	filter: opacity(20%) blur(8px);
}

#header {
	border-bottom: 2px solid rgb(29, 39, 39);
	border-radius: 50%;
	min-height: 60px;
	height: 60px;
	font-family: 'Teko', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
	text-shadow: #033509;
	text-align: center;
	color: white;
	position: absolute;
	top: 0;
	width: 100%;
}

#main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 35%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(8px);
}

#text-password {
	color: white;
	border: none;
	/* border-bottom: 3px solid rgba(29, 39, 39, 0.5);
	border-top: none;
	border-left: none;
	border-right: none; */
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	width: 220px;
	height: 35px;
	font-size: 30px;
}

.btn {
	color: white;
	font-size: 15px;
	text-align: center;
	position: relative;
	top: 10px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	padding: 0.2rem;
	margin: 0 30px;
}

.btn-run {
	background: radial-gradient(at center, rgba(233, 233, 233, 0.1), #010101);
	cursor: pointer;
	border: none;	
}

.btn-clear {
	background: #1e1e1e;
	background: radial-gradient(at center, rgba(233, 233, 233, 0.1), #010101);
	cursor: pointer;
	border: none;	
}

.btn-run:active {
	border: 2px solid green;
	background: #880102;
	background: radial-gradient(at center, #1c8801, #010101);
  transform: translateY(2px);
}

.btn-clear:active {
	border: 2px solid red;
	text-shadow: 2px 2px 5px rgb(255, 0, 0);
	background: #880102;
	background: radial-gradient(at center, #ff0000, #000000);
  transform: translateY(2px);
}

.options::before {
	position: absolute;
	margin-top: 2px;
	content: "";
	top: -10px;
	background: rgba(29, 39, 39, 0.5);
	width: 500px;
	height: 3px;
}

.options {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	position: relative;
	top: 45px;	
}

span:hover {
	cursor: pointer;
	text-shadow: #f5c45b 0px 2px 3px;
}


#footer {
	border-top: 2px solid rgb(29, 39, 39);
	border-radius: 50%;
	text-align: center;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3vh;
}