* {
	box-sizing: border-box;
}

body, html {
	/* with a helping hand from css-gradient.com */
	background: #350303;
	background: radial-gradient(at center, #350303, #010101);
	height: 100%;
	margin: 0;
	font-family: 'Rajdhani', sans-serif;
}

.bg {	
	background-image: url("../img/background_resize.jpg");
	height: 100%;
	filter: opacity(20%) blur(8px);
}

#header {
	font-family: 'Teko', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
	text-shadow: #033509;
	text-align: center;
	color: white;
	position: absolute;
	top: 0;
	width: 100%;
}

#main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 30%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(8px);
}

#text-password {
	text-align: center;
	width: 100px;
	
}

.btn {
	color: white;
	font-size: 15px;
	text-align: center;
	position: relative;
	top: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 0.2rem;
	margin: 0 30px;
}

.btn-run {
	
	/* background: #1e1e1e; */
	/* background: #1c8801; */
	/* background: radial-gradient(at center, #1c8801, #010101); */
	background: radial-gradient(at center, rgba(25, 128, 0, 0.4), #010101);
	cursor: pointer;
	border: none;	
	/* border: 2px solid green; */
}

.btn-clear {
	background: #1e1e1e;
	/* background: #880102; */
	/* background: radial-gradient(at center, #880102, #010101); */
	cursor: pointer;
	border: none;	
	/* border: 2px solid red; */
}

.btn-run:active {
	border: 2px solid green;
	background: #880102;
	background: radial-gradient(at center, #1c8801, #010101);
  transform: translateY(2px);
}

.btn-clear:active {
	border: 2px solid red;
	text-shadow: 2px 2px 5px rgb(255, 0, 0);
	background: #880102;
	background: radial-gradient(at center, #ff0000, #000000);
  transform: translateY(2px);
}


#footer {
	/* border-top: 2px solid #410000; */
	border-top: 2px solid rgb(29, 39, 39);
	border-radius: 50%;
	text-align: center;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3vh;
	/* border: 1px solid yellow; */
}